name: release

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: github-arc-runners
    permissions:
     id-token: 'write'
     contents: 'read'
    steps:
      - uses: actions/checkout@v2
      - name: Fetch secrets from Conjur via JWT (ARC, no Docker)
        uses: ./.github/actions/conjur-jwt-fetcher
        with:
          url: ${{ secrets.CONJUR_URL_ENT }}
          account: poc-conjur
          certificate: ${{ secrets.CERTIFICATE_ENT }}
          authn_id: ${{ secrets.AUTHN_ID_ENT }}
          secrets: secrets/github-user|sql_username;secrets/github-password|sql_password

      - name: Print fetched secrets
        run: |
          echo -n 'Retrieved username [ '
          echo -n "$sql_username" | sed 's/./& /g'
          echo -n '] and password [ '
          echo -n "$sql_password" | sed 's/./& /g'
          echo ' ]'
