name: release

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: github-arc-runners

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v2

      # MUST run after OIDC token is generated inside the action composite aka plugin.,
      # I have used checkout 2 for wider compatibility, i recommedn v3+...

      - name: Fetch secrets from Conjur via JWT (ARC, no Docker)
        uses: ./.github/actions/conjur-jwt-fetcher-plus-api
        with:
          url: ${{ secrets.CONJUR_URL_ENT }}
          account: poc-conjur
          host_id: ${{ secrets.CONJUR_HOST_ENT }}
          api_key: ${{ secrets.CONJUR_API_KEY_ENT }}
          certificate: ${{ secrets.CERTIFICATE_ENT }}
          secrets: secrets/github-user|sql_username;secrets/github-password|sql_password


# demo - fetch the values 2nd option with mask off
      - name: Print fetched secrets
        run: |
          echo "Username: $SQL_USERNAME"
          echo "Password: $SQL_PASSWORD"
          
      - name: Print fetched secrets
        run: |
          echo -n 'Retrieved username [ '
          echo -n "$SQL_USERNAME" | sed 's/./& /g'
          echo -n '] and password [ '
          echo -n "$SQL_PASSWORD" | sed 's/./& /g'
          echo ' ]'
