name: ARC Conjur Test

on:
  push:

jobs:
  test:
    runs-on: github-arc-runners

    steps:
      - uses: actions/checkout@v4

      - name: Import Secrets using CyberArk Conjur Secret Fetcher Action
        uses: cyberark/conjur-action@v2.0.12
        with:
          url: ${{ secrets.CONJUR_URL_ENT }}
          account: conjur
          host_id: ${{ secrets.CONJUR_HOST_ENT }}
          api_key: ${{ secrets.CONJUR_API_KEY_ENT }}
          secrets: github-secret|sql_username

      - name: Print fetched secrets
        run: |
          echo 'Retrieved secret:'
          echo $SQL_USERNAME | sed 's/./& /g'
